// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #776D63;
$light-gray: #CDD7D6;
$white: #FFFFFF;
$tuscany: #B3A394;
$bittersweet: #F87060;
$dark-blue: #102542;
$jet: #35302C;
