<div class="hero">
  <h1>Find your perfect Cocktail</h1>
</div>
<div class="container">

<div class="row">
  <% @cocktails.each do |cocktail| %>
   <div class="col-xs-12 col-sm-6 col-md-4">
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card">
          <div class="card-hover">
            <% if cocktail.photo.file %>
              <%= cl_image_tag cocktail.photo, crop: :fill %>
            <% else %>
              <%= cl_image_tag("gin_cocktail.jpg") %>
            <% end %>
          </div>
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



