<div class="container">
  <h1><%= @cocktail.name %></h1>
<div class="ingredient-list">
  <h2>Ingredients</h2>
  <ul>
    <% @cocktail.doses.each do |dose|  %>
    <div class="ingredient-block">
      <li><%= "#{dose.description} #{dose.ingredient.name}" %></li>
      <%= link_to dose, method: :delete do %>
        <i class="far fa-minus-square"></i>
      <% end %>
    </div>
    <% end %>
   </ul>
</div>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
   <div class="btn btn-primary">
     Add an ingredient!
   </div>
  <% end %>
</div>

