.ingredient-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    flex: 1 1 auto;
  }
  a {
    color: $bittersweet;
    font-size: 24px;
  }
}

.ingredient-list {
  background-color: $white;
  padding: 20px;
}
