.logo {
  display: flex;
  align-items:center;
  justify-content: space-between;
  img {
    height: 50px;
    width: 50px;
  }
  p {
    margin: 0;
    color: $gray;
    font-size: 32px;
    font-family: $logo-font;
  }
}
